html {
	/* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
	font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.con {
	margin-left: auto;
	margin-right: auto;
}

.table-box>table {
	width: 100%;
	border-collapse: collapse;
}

.table-box>table th, .table-box>table td {
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}

/* 폼 관련 라이브러리 */
.form1 .form-control-box>input, .form1 .form-control-box>textarea {
	width: 100%;
	padding: 0;
	display: block;
	box-sizing: border-box;
	padding: 10px;
}

.form1 .form-control-box>textarea {
	min-height: 300px;
	resize: none;
}

html > head + body:last-child .height-300 {
	min-height:100px;
}

/* 커스텀 */
.con {
	max-width: 1200px;
}

.page-title-box {
	margin-top: 30px;
	margin-bottom: 30px;
}